.border-bottom-light{
    border-bottom:.1rem solid rgba($color-primary,.2); 
}
.border-top-light{
    border-top:.1rem solid rgba($color-primary,.2); 
}
.p-x-sm{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.p-x-md{
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}
.p-sm{
    padding: 1rem !important;
}