//COLORS
$color-primary:#595856;
$color-secondary:#129BDB;
$color-tertiary:#EFE9E9;
$color-white:#fff;
$color-black:#000;

//FONTS
$font-primary:'Roboto',sans-serif;

//BREAKPOINTS FOR RESPONSIVE DESIGN
$sm-break : 31.25em; //500px
$md-break : 56.25em; //800px
$lg-break : 100em; // 1600px