<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <title><%= htmlWebpackPlugin.options.title %></title> 
    </head>
    <body>
    
        <!-- WRAPPER -->
        <div class="wrappper">
                <!-- HEADER -->
                <header class="header">
                    <div class="header__brand">
                    <img src="img/logo.svg" alt="LAS Logo" class="header__logo">
                        <div class="header__name">Online Outfit</div>
                    </div>
                    <button class="header__btn-menu"><i class="fas fa-bars header__btn-icon"></i></button>
                    <nav class="header__nav invisible">
                        <ul class="header__menu">
                            <li class="header__item"><a href="index.html" class="header__link header__link--active">Home</a></li>
                            <li class="header__item"><a href="categories.html" class="header__link">Catalog</a></li>
                            <li class="header__item"><a href="testimonials.html" class="header__link">Feedbacks</a></li>
                            <li class="header__item"><a href="contacts.html" class="header__link">Contacts</a></li>
                        </ul>
                    </nav>
                </header>
            <!-- CATALOG WRAPPER -->
                <section class="catalog-wrapper">
                    <!-- FILTER -->
                            <form action="#" class="filter">
                                <h1 class="filter__heading ">Filter</h1>
                                <div class="filter__form-group p-sm border-bottom-light border-top-light">
                                    <h4 class="filter__form-heading">Price</h4>
                                    <div class="filter__input-group">
                                        <input type="number" name="price-floor" id="price-floor" class="filter__input filter__input--rounded" placeholder="From">
                                        <input type="number" name="price-ceiling" id="price-ceiling" class="filter__input filter__input--rounded" placeholder="To">
                                    </div>
                                </div>
                                <div class="filter__form-group p-sm border-bottom-light">
                                    <h4 class="filter__form-heading">Type</h4>
                                    <select name="cloth-type" id="cloth-type" class="filter__input filter__input--rounded input--select">
                                        <option value="T-Shirt">T-Shirt</option>
                                        <option value="Underwear">Underwear</option>
                                        <option value="Shirt">Shirt</option>
                                        <option value="Trousers">Trousers</option>
                                        <option value="Shoes">Shoes</option>
                                    </select>
                                </div>
                                <div class="filter__form-group border-bottom-light p-sm">
                                    <h4 class="filter__form-heading">Features</h4>
                                    <div class="filter__check-group">
                                        <div class="filter__input-checkbox-group">
                                            <input type="checkbox" name="waterproof" id="waterproof" class="filter__input filter__input-checkbox" checked>
                                            <label for="waterproof" class="filter__check-label">Waterproof</label>
                                       </div>
                                       <div class="filter__input-checkbox-group">
                                           <input type="checkbox" name="stability" id="stability" class="filter__input filter__input--checkbox">
                                        <label for="stability" class="filter__check-label">Stability</label>
                                       </div>
                                       <div class="filter__input-checkbox-group">
                                           <input type="checkbox" name="discount" id="discount" class="filter__input filter__input--checkbox">
                                        <label for="discount" class="filter__check-label">Discount</label>
                                       </div>
                                       <div class="filter__input-checkbox-group">
                                           <input type="checkbox" name="checked" id="checked" class="filter__input filter__input--checkbox">
                                        <label for="checked" class="filter__check-label">Checked</label>
                                       </div>
                                    </div>
                                </div>
                                <div class="filter__form-group border-bottom-light p-sm">
                                    <h4 class="filter__form-heading">Rating</h4>
                                    <input type="range" name="rating-range" id="rating-range" class="filter__input filter__input--range filter__input--rounded">
                                </div>
                                <button type="submit" class="btn btn--secondary filter__submit">Apply</button>
                            </form>
                    <!-- ITEMS -->
                            <div class="catalog__content">
                                <div class="catalog__item">
                                        <img src="img/catalog-img-1.jpg" alt="Cloth 1" class="catalog__img">
                                    </figure>
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$199.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-3.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">New Shirt withou holes Buy Now</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">1</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$25.99</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-4.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">Sneakers "NIKE" JY871DF Vietnam</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$120.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-5.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$2199.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-6.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$199.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-7.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$199.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-8.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$199.00</div>
                                    </a>
                                </div>
                                <div class="catalog__item">
                                        <img src="img/catalog-img-9.jpg" alt="Cloth 1" class="catalog__img">
                                    <a href="#" class="catalog__description">
                                        <h4 class="catalog__name">T-Shirt "Mongo" cotton black new model</h4>
                                        <div class="catalog__sizes-set">
                                            <div class="catalog__sizes-heading">Sizes</div>
                                            <div class="catalog__sizes">
                                                <span class="catalog__size">S</span>
                                                <span class="catalog__size">M</span>
                                                <span class="catalog__size">L</span>
                                                <span class="catalog__size">XL</span>
                                            </div>
                                        </div>
                                        <div class="catalog__cart">
                                            <i class="catalog__cart-icon fas fa-shopping-cart"></i>
                                            <div class="catalog__item-amount">
                                                <span class="catalog__amount-arrow-up"></span>
                                                <span class="catalog__number">2</span>
                                                <span class="catalog__amount-arrow-down"></span>
                                            </div>
                                        </div>
                                        <div class="catalog__rating">
                                            <div class="catalog__rating-heading">Rating</div>
                                                <div class="catalog__stars-set">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                    <img src="img/star.png" alt="Star Icon" class="catalog__star-icon">
                                                </div>
                                            </div>
                                        <div class="catalog__price">$23199.00</div>
                                    </a>
                                </div>
                            <!-- PAGINATION -->
                            <ul class="catalog__pagination">
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link">Previous</a></li>
                                <li class="catalog__pagination-item"><a href="3" class="catalog__pagination-link">1</a></li>
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link">2</a></li>
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link">3</a></li>
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link catalog__pagination-link--disabled">...</a></li>
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link">200</a></li>
                                <li class="catalog__pagination-item"><a href="#" class="catalog__pagination-link">Next</a></li>
                            </ul>
                            </div>
                </section>
                
            <!-- FOOTER -->
                <footer class="footer">
                    <p class="footer__copyright">
                        &copy;  Copyright  2020
                    </p>
                    <p class="footer__text">The copying of information deployed on the website is prohibited by the law. </p>
                    <div class="footer__pay-systems">
                        <i class="footer__icon fab fa-cc-paypal"></i>
                        <i class="footer__icon fab fa-cc-visa"></i>
                        <i class="footer__icon fab fa-cc-mastercard"></i>
                    </div>
                </footer>
        </div>
    </body>
</html>