<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
        <title><%= htmlWebpackPlugin.options.title %></title> 
    </head>
    <body>
        <!-- WRAPPER -->
            <div class="wrappper">
                <!-- HEADER -->
                    <header class="header">
                        <div class="header__brand">
                          <img src="img/logo.svg" alt="LAS Logo" class="header__logo">
                            <div class="header__name">Online Outfit</div>
                        </div>
                        <button class="header__btn-menu"><i class="fas fa-bars header__btn-icon"></i></button>
                        <nav class="header__nav invisible">
                            <ul class="header__menu">
                                <li class="header__item"><a href="index.html" class="header__link header__link--active">Home</a></li>
                                <li class="header__item"><a href="categories.html" class="header__link">Catalog</a></li>
                                <li class="header__item"><a href="testimonials.html" class="header__link">Feedbacks</a></li>
                                <li class="header__item"><a href="contacts.html" class="header__link">Contacts</a></li>
                            </ul>
                        </nav>
                    </header>
                <!-- MAIN CONTENT -->
                    <main class="main-content">
                    <!-- INTRODUCTION SECTION -->
                    <section class="introduction">
                            <div class="container">
                                    <div class="introduction__content">
                                        <h1 class="heading-1 heading-1--light introduction__main-heading">New Generation Clothing</h1>
                                        <h2 class="heading-3 heading-3--light introduction__subheading">Order Online</h2>
                                        <p class="introduction__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perferendis minus doloribus delectus accusantium culpa consequatur aperiam ea repellendus facilis, earum dolorum, sunt reiciendis aliquam. Voluptas qui explicabo modi sequi vero?</p>
                                        <a href="#" class="cta cta--primary introduction__btn">Read More</a>
                                    </div>
                            </div>
                    </section>
                    <!-- HERO SECTION -->
                        <section class="hero">
                            <div class="container">
                                <div class="hero__content">
                                    <div class="hero__gallery">
                                        <figure class="hero__figure hero__figure-1"><img src="img/hero-1.jpg" alt="Hero 1" class="hero__img"></figure>
                                        <figure class="hero__figure hero__figure-2"><img src="img/hero-2.jpg" alt="Hero 2" class="hero__img"></figure>
                                        <figure class="hero__figure hero__figure-3"><img src="img/hero-3.jpg" alt="Hero 3" class="hero__img"></figure>
                                    </div>
                                    <div class="hero__greeting">
                                        <h1 class="heading-1 heading-1--light hero__heading">Both Genders Matter</h1>
                                        <p class="hero__text">Our company's main goal is to make high quality qualities for each and everyone. We are not focused on a particular gender. Tolerance is of utmost importance for us .Hopefully, we'll be able to meet your needs and make you a little bit happier.</p>
                                        <a href="#" class="cta cta--secondary hero__btn">Read More</a>
                                    </div>
                                </div>
                        </section>
                    <!-- FEATURES SECTION -->
                        <section class="features">
                            <div class="container">
                                <div class="features__content">
                                    <h1 class="heading-1 heading-1--blue features__heading">Our Advantages</h1>
                                    <div class="features__blocks">
                                        <div class="features__block">
                                            <i class="fas fa-credit-card features__icon"></i>
                                            <h4 class="features__name">Cashless Payment</h4>
                                        </div>
                                        <div class="features__block">
                                            <i class="fas fa-truck-moving features__icon"></i>
                                            <h4 class="features__name">Fast Delivery</h4>
                                        </div>
                                        <div class="features__block">
                                            <i class="fas fa-smile-beam features__icon"></i>
                                            <h4 class="features__name">Positive Feedbacks</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </main>
                <!-- FOOTER -->
                    <footer class="footer">
                        <p class="footer__copyright">
                            &copy;  Copyright  2020
                        </p>
                        <p class="footer__text">The copying of information deployed on the website is prohibited by the law. </p>
                        <div class="footer__pay-systems">
                            <i class="footer__icon fab fa-cc-paypal"></i>
                            <i class="footer__icon fab fa-cc-visa"></i>
                            <i class="footer__icon fab fa-cc-mastercard"></i>
                        </div>
                    </footer>
            </div>
    </body>
</html>